# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Build files
.npreal2.ko.cmd
.npreal2.mod.o.cmd
.npreal2.o.cmd
.tmp_versions/
Module.symvers
modules.order
mxaddsvr
mxcfmat
mxdelsvr
mxloadsvr
mxsetsec
npreal2.mod.c
npreal2d
npreal2d_redund
